<div class="b-NewsDescription">
	<div class="b-NewsDescription__image">
		<img class="m-NewsDescription__image" src="{{fields.image}}" alt="News"/>
	</div>
	<div class="b-NewsDescription__text">{{fields.text}}</div>
</div>
