<div class="m-burgerTitle">
  <img class="m-burgerTitle__top" src="{{theme.link}}/static/img/burger-title-top.svg" alt=""/>
  <div class="m-burgerTitle__title {% if size == "big" %}-big{% endif %}">
    {{text}}
  </div>
  <img class="m-burgerTitle__bottom" src="{{theme.link}}/static/img/burger-title-bottom.svg" alt=""/>
</div>
