{% if fields.title and fields.slide %}
	<section class="b-Benefits">
		<img class="b-Benefits__image" src="{{theme.link}}/static/img/WAVE-black.svg" width="1920" height="295.67" alt="WAVE-black">
		<div class="b-Benefits__container">
			<h1 class="b-Benefits__title">{{fields.title}}</h1>

			<div class="b-Benefits__slider swiper">
				<div class="b-Benefits__slider-wrapper swiper-wrapper">
					{% for item in fields.slide %}
						<div class="b-Benefits__slider-slide swiper-slide">
							<img class="b-Benefits__slider-slide-image" src="{{item.image}}" width="35" height="35" alt="chart">
							<p class="b-Benefits__slider-slide-text">{{item.text}}</p>
						</div>
					{% endfor %}
				</div>
				<div class="b-Benefits__slider-pagination swiper-pagination"></div>
			</div>
		</div>
	</section>
{% endif %}