<section class="b-Contact" id="Tocontact">
    <div class="b-Contact__title">
        <h1 class="b-Contact__title-big">We are ready to cooperate!</h1>
        <p class="b-Contact__title-small">Do you want to work with us? <span class="b-Contact__title-small--bold">Write to us now!</span></p>
    </div>

    <form class="b-Contact__form">
        <input class="b-Contact__form-item" type="text" placeholder="First Name">
        <input class="b-Contact__form-item" type="text" placeholder="Last Name">
        <input class="b-Contact__form-item" type="email" placeholder="Email">
        <input class="b-Contact__form-item" type="text"placeholder="Company name">
        <select class="b-Contact__form-item-select" name="markatplaces">
            <option class="b-Contact__form-item-select--option" value="primary_marketplace" disabled selected>Country</option>
            <option class="b-Contact__form-item-select--option" value="value2">England</option>
            <option class="b-Contact__form-item-select--option" value="value3">Germany</option>
            <option class="b-Contact__form-item-select--option" value="value1">Poland</option>
            <option class="b-Contact__form-item-select--option" value="value4">United States of America</option>
        </select>
        <input class="b-Contact__form-item" type="tel" placeholder="Phone number">
        <textarea class="b-Contact__form-item b-Contact__form-item--textarea" placeholder="Message" cols="10" rows="10"></textarea>

        <div class="b-Contact__form-item-politics">
            Tradedoubler AB will only process the information that you have provided us with in order
            to handle your request. For more information about how Tradedoubler processes
            personal information, please refer to <a class="b-Contact__form-item-politics--link" href="#">our privacy policy.</a>
        </div>

        <button  class="b-Contact__form-item b-Contact__form-item--submit"  type="submit">Send message</button>
    </form>
</section>