<footer class="m-FooterPrimary">
	<nav class="m-FooterPrimary__navigation">
		<div class="m-FooterPrimary__navigation-container">
			<a class="m-FooterPrimary__navigation-logo" href="/">
				<img src="{{theme.link}}/static/img/logo-white-blue.svg" alt="Tradedoubter PVN" width="211" height="47" class="m-FooterPrimary__navigation-logo"/>
			</a>
			<ul class="m-FooterPrimary__navigation-menu -desktop">
				{% for item in nav.footer.items %}
					<li class="m-FooterPrimary__navigation-menu-item">
						{% include "modules/Button/Button.module.twig" with {
							type: "link",
							link: item.link,
							text: item.title
						}%}
					</li>
				{% endfor %}
			</ul>
			<a class="m-FooterPrimary__navigation-link" href="#">Give it try</a>

		</div>

		<div class="m-FooterPrimary__navigation-rectangle"></div>
	</nav>

	<div class="m-FooterPrimary__data">
		<div class="m-FooterPrimary__data-copyrithing">
			&copy; 2018, Tradedoubler | Wszystkie prawa zastrzeżone.
		</div>
		<ul class="m-FooterPrimary__data-socials">
			{% for item in socialmedia %}
				<li class="m-FooterPrimary__data-socials-item">
					<a href="{{item.social_media_adress.url}}" class="m-FooterPrimary__data-socials-item">
						<img src="{{item.social_media_icon}}" width="30" height="30" alt="{{item.social_media_adress.title}}" class="m-FooterPrimary__data-socials-item-image">
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</footer>
